.footer {
  background-color: rgb(238, 228, 220);

  // .footer__top

  &__top {
    padding: 80px 0 110px 0;
  }

  // .footer__row

  &__row {
    display: flex;
    gap: 72px;
    justify-content: flex-start;
    align-items: start;
  }

  // .footer__column

  &__column {
  }

  // .footer__text

  &__text {
    margin: 25px 0;
    max-width: 449px;
  }

  // .footer__social

  &__social {
  }

  // .footer__title

  &__title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
  }

  // .footer__bottom

  &__bottom {
    padding: 7px 0 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.social {
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
  // .social__item

  &__item {
    // width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.colum-menu {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  // .colum-menu__item

  &__item {
  }

  // .colum-menu__link

  &__link {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    transition: 0.3s ease 0s;
  }
}
.facebook,
.youtube,
.instagram,
.pinterest {
  path {
    fill: #3d3017;
    transition: 0.3s ease 0s;
  }
}

.latest-bolg-menu {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  // .latest-bolg-menu__item

  &__item {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: start;
  }

  // .latest-bolg-menu__link

  &__link {
    max-width: 182px;
  }
  // latest-bolg-menu__link-image
  &__link-image {
    display: block;
    width: 73px;
    height: 82px;
    background-color: transparent;
  }
  // .latest-bolg-menu__image

  &__image {
    width: 73px;
    height: 82px;
    background-color: transparent;
  }

  // .latest-bolg-menu__content

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
  }

  // .latest-bolg-menu__time

  &__time {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 171%;
    font-size: 14px;
    color: #000000;
  }
}

@media (hover: hover) {
  .social__item:hover.facebook {
    path {
      fill: #1877f2;
      transition: 0.3s ease 0s;
    }
  }
  .social__item:hover.instagram {
    path {
      fill: #ff01b4;
      transition: 0.3s ease 0s;
    }
  }
  .social__item:hover.youtube {
    path {
      fill: #ff0000;
      transition: 0.3s ease 0s;
    }
  }
  .social__item:hover.pinterest {
    path {
      fill: #e60023;
    }
  }
  .colum-menu__link:hover {
    color: #0054fc;
    transition: 0.3s ease 0s;
  }
}
@media (max-width: 985px) {
  .footer__text {
    max-width: 100%;
  }
  .social {
    height: 44px;
  }
  .social__item {
    width: 44px;
  }
  .social__item.facebook,
  .social__item.instagram,
  .social__item.pinterest {
    svg {
      width: 44px;
      height: 44px;
    }
  }
  .social__item.youtube {
    svg {
      width: 44px;
      height: 230px;
    }
  }
  .footer__row {
    flex-direction: column;
    gap: 50px;
  }
  .colum-menu {
    flex-wrap: wrap;
    flex-direction: row;

    gap: 10px 50px;
  }
  .latest-bolg-menu__link {
    max-width: 80vh;
  }
  .footer__column {
  }
}
